.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
  /* margin-left: 40%; */
  /* justify-items: center; */
  /* margin-top: 30px;
  height: 400px;
  max-width: 350px; */
  /* border: 1px solid black;
  box-shadow: 0 0 2px 2px yellow; */
}
.login__container {
  margin-top: 10px;
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  /* box-shadow: 0 0 2px 2px yellow; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login__logo {
  margin-top: 30px;
  margin-bottom: 20px;
  object-fit: contain;
  /* transform: rotateX(360deg); */
  /* object-fit: cover; */
  /* width: 100px; */
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  padding: 5px;
}
.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.login__containerInput > h5 {
  margin-bottom: 5px;
}
.login__containerInput > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
}
.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}
.login__signInButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #10ad7e;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 15px;
  border-color: #12dac9 #0bccda #0bcec4;
  /* color: #111; */
}
.login__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgrey;
}
.login__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}
