.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  z-index: 100;
  margin-top: 30px;
}
.footer__containerOne {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(185, 241, 241);
  height: 500px;
  width: 100%;
}
.footer__containerImage {
  display: flex;
  justify-content: center;
  object-fit: contain;
  height: 400px;
  width: 60%;
  z-index: 1;
  margin-top: 50px;
}
.footer__containerTwo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 400px;
  width: 100%;
  background-color: rgb(100, 102, 102);
}
.footer__containerThree {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 300px;
  width: 100%;
  background-color: rgb(28, 29, 29);
}
.footer__containerFour {
  display: flex;
  justify-content: center;
  font-size: 13px;
  flex-direction: row;
  color: rgb(78, 80, 80);
  height: 50px;
  width: 100%;
  background-color: black;
}
.footer__titleOne {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 70%;
  margin-top: 20px;
  /* margin-left: 30px; */
}
.footer__titleOneOption {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 25%;
  margin-top: 20px;
  /* margin-left: 30px; */
}
.footer__titleTwo {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 30%;
  margin-top: 30px;
}
.footer__titleTwoOption {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 25%;
  margin-top: 30px;
}
.footer__titleOneHeader {
  display: flex;
  flex-direction: row;
}
/* .header__logo {
  margin: 10px 20px;
} */
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
.header_name {
  font-family: "Redressed", cursive;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1rem;
  color: white;
}
.header__logoItem {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1rem;
  color: white;
}
.header__logoItemPart {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.05rem;
}
/* .footerHead {
  position: relative;
}
.footer {
  bottom: 0px;
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
}
.footer1 {
  position: absolute;
  bottom: 40px;
  width: 400px;
  height: 200px;
  text-align: center;

  margin-left: 50px;

  font-size: 1rem;
  color: white;
}
.footer2 {
  position: absolute;
  margin-left: 550px;
  bottom: 40px;
  width: 200px;
  height: 200px;
  text-align: center;

  font-size: 1rem;
  color: white;
}
.footer20 {
  margin-top: 20px;
}
.footer3 {
  position: absolute;
  margin-left: 900px;
  bottom: 40px;
  width: 400px;
  height: 200px;
  text-align: center;

  font-size: 1rem;
  color: white;
}
.footer4 {
  position: absolute;
  margin-top: 0px;
  width: 100%;
  height: 60px;
  background-color: rgb(44, 43, 43);
  color: rgb(172, 167, 167);
  text-align: center;
} */
.footer5 {
  /* position: absolute; */
  margin-top: 20px;
  /* margin-left: 500px; */
}
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
.container1 {
  font-family: "Caveat", cursive;
}
.CommonFamily {
  font-family: "Montserrat";
  letter-spacing: 0.1rem;
  color: rgb(78, 80, 80);
}
